.env
.env.*
!.env.example
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.git/
.gitignore
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
db.sqlite3
*.log
docker-compose.yaml
README.md
